<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shearf.cloud.apps.captcha.pub.dal.mapper.AppMapper">
    <resultMap id="BaseResultMap" type="com.shearf.cloud.apps.captcha.pub.domain.model.App">
        <id property="id" column="id" jdbcType="INTEGER" javaType="Integer" />
        <result property="name" column="name" jdbcType="VARCHAR" javaType="String" />
        <result property="status" column="status" jdbcType="TINYINT" javaType="Integer" />
        <result property="ownerType" column="owner_type" jdbcType="TINYINT" javaType="Integer" />
        <result property="contactName" column="contact_name" jdbcType="VARCHAR" javaType="String" />
        <result property="contactEmail" column="contact_email" jdbcType="VARCHAR" javaType="String" />
        <result property="description" column="description" jdbcType="VARCHAR" javaType="String" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="Date" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="Date" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `name`, `status`, `owner_type`, `contact_name`, `contact_email`, `description`, `create_time`, `update_time`
    </sql>

    <insert id="insert" parameterType="com.shearf.cloud.apps.captcha.pub.domain.model.App">
        INSERT INTO `captcha_app` (`name`, `status`, `owner_type`, `contact_name`, `contact_email`, `description`,
                                   `create_time`, `update_time`) VALUES (
                #{name, jdbcType=VARCHAR}, #{status, jdbcType=TINYINT}, #{ownerType, jdbcType=TINYINT},
            #{contactName, jdbcType=VARCHAR}, #{contactEmail, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR},
            #{createTime, jdbcType=TIMESTAMP}, #{updateTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="get" parameterType="Integer" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM `captcha_app` WHERE `id` = #{id, jdbcType=INTEGER}
    </select>


</mapper>